body {
    font-family: Roboto, monospace;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 8px;
    font-size: 18px;
}

.hero {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header-text {
    font-size: 24px;
}

.main-hero-text, .header-text {
    color: #F9FAF8;
}

.main-hero {
    display: flex;
}