a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 8px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.main-hero {
    display: flex;
}